PUBLIC_walletWasmHash="ecd990f0b45ca6817149b6175f79b32efb442f35731985a084131e8265c4cd90"
PUBLIC_nativeContractId="CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC"
PUBLIC_networkPassphrase="Test SDF Network ; September 2015"
PUBLIC_rpcUrl="https://soroban-testnet.stellar.org"
PUBLIC_launchtubeUrl="https://testnet.launchtube.xyz"
PUBLIC_mercuryUrl="https://api.mercurydata.app"

PRIVATE_launchtubeJwt=
PRIVATE_mercuryJwt=

PUBLIC_superpeachUrl="http://localhost:4321"
PUBLIC_name="Site A"
PUBLIC_style="background-color: #fffbeb; color: #f59e0b;"