---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover" />
		<link rel="icon" type="image/webp" href="/favicon_2.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="font-mono">
		<slot />
	</body>
</html>